# Copy this file to .env.local or .env and replace with your own Supabase values
REACT_APP_SUPABASE_URL=https://dfoarnhfvvyexnivrkik.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sb_publishable_kYf-M59wDSyEpTVZz_RvkQ_WkPEpGeA
